.container{
    display: grid;
    grid-template-columns: auto [cola] auto auto;
    grid-template-rows: auto [rowa] auto auto;
    grid-template-areas: 
    "left-content two-content three-content"
    "left-content main-content main-content"
    "left-content main-content main-content";
    gap: 5px;
    justify-items: stretch;

}
.grid-item{
   padding: 20px;
   background-color: dodgerblue;
   font-size: 30px;
   color: white; 
   
}
.item-big{
    
    grid-area: left-content;
    
    
}
.item2{
    grid-area: two-content;
}
   
.item3{
    background-color: green;
    grid-area: three-content;
}
    
.item-side{
    background-color: yellow;
    grid-area: main-content;
   
   
}

.item5{
    background-color: red;
}
.item6{
    background-color: orange;
}
body{
    margin: 0px ;
}
@media (max-width: 500px){
    .container{
        grid-template-areas: 
            "two-content three-conent three-content"
            "main-content main-content main-content"
            "left-content left-content left-content";    
    
    }
}